    {{ template "chrome/header.html" . }}

    <div class="container content">
    <p>Here are all my blog posts, in descending order by creation date. If you would like to view them by topic, see the <a href="/categories">Categories</a> page.</p>
      <h1 class="post-title">All Blog Posts (By Date)</h1>
        <section id="main">
          <ul id="list">
            {{ range .Data.Pages }}
            {{ .Render "li"}}
            {{ end }}
          </ul>
        </section>
    </div>

  {{ template "chrome/footer.html" }}
