  {{ template "chrome/header.html" . }}

      <h1>{{ .Title }}</h1>
        <section id="main">
          <h5 id="date"> {{ .Date.Format "Jan 2, 2006" }} </h5>
          {{ .Content }}
        </section>

  {{ template "chrome/categories.html" . }}

  {{ template "chrome/prev_next.html" . }}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'lk4d4';

        (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  {{ template "chrome/footer.html" }}
