<!-- This file is the homepage of the website. -->

<!DOCTYPE html>
<html>
<head>
    <!--
      This section just sets up some metadata for the website.

      It probably does not need to be changed.
    -->
    <meta charset="utf-8">
    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "chrome/head_includes.html" . }}
</head>
  <body class="theme-base-0b" lang="en">

  {{ template "chrome/sidebar.html" . }}

  <!-- See /layouts/indexes/category.html for explanation of this section -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="engineer's draft">Engineer's Draft</a>
          </h3>
          <hr>
        </div>
      </div>

      <div class="container content">

        <!-- Recent Posts section -->
        <h1 class="post-title">Top10 Posts</h1>
        <section id="main">
          <ul id="list">
            {{ range first 10 .Data.Pages }}
            {{ .Render "summary"}}
            {{ end }}
          </ul>
        </section>

      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

{{ template "chrome/footer.html" }}
